<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kill Dev Words: The Game</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <figure id="context">
        <div class="screen active" id="start-screen">
            <header>
                <h1>Kill Words: The Game</h1>
                <p>Your mission: Kill the words.</p>
            </header>
            <main>
                <h2>Killing instructions</h2>
                <ol>
                    <li>Mash the name of what you want to kill with your killing fingers on your killing keyboard.</li>
                    <li>Collect power-ups to gain temporary advantages!</li>
                    <li>Revel in victory!</li>
                </ol>
            </main>
            <footer>
                <button id="start">Start</button>
                <div>
                    <label for="level">Level</label>
                    <input type="number" step="1" min="1" max="50" id="level" value="1">
                </div>
            </footer>
        </div>
        <div class="screen" id="end-screen">
            <header>
                <h1>Well done, soldier.</h1>
            </header>
            <main>
                <div id="result"></div>
            </main>
            <footer>
                <button id="start-over">Again</button>
                <div>
                    <label for="level-again">Level</label>
                    <input type="number" step="1" min="1" max="50" id="level-again" value="1">
                </div>
            </footer>
        </div>
        <canvas id="bloodshed" width="600" height="600"></canvas>
        <div id="projectiles"></div>
        <div id="baddies"></div>
        <span id="hero"></span>
        <div id="power-ups"></div>
    </figure>
    <button id="audio-toggle">Mute</button>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>